@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Cart>
<div class="header__cart-list header__cart-list--cart">
  @if (Model.Any())
  {
    @if (SignInManager.IsSignedIn(User))
    {
      <div class="header__cart-list--title">
        <p>Sản phẩm mới thêm</p>
      </div>
      @foreach (var item in Model)
      {
        @if (item.Product != null)
        {
          <a class="d-flex header__cart-list-item">
            <div class="col-2">
              <img src="@item.Product.ImageUrl"
                   class="header__cart-cart-img" />
            </div>
            <div class="col">
              <div class="header__cart-list-name">
                @item.Product.Name
              </div>
            </div>
            <div class="col-4">
              <div class="header__cart-list-price">@item.Product.Price VND</div>
            </div>
          </a>
        }
        else
        {
          <div class="header__cart-list header__cart-list--no-cart">
            <img src="~/assets/img/no-product-found.png" alt="" class="header__cart-list--no-cart-img" />
          </div>
        }
      }
      <div class="header__cart-btn">
        <a asp-controller="Cart" asp-action="Index" class="header__cart-btn-link">Xem giỏ hàng</a>
      </div>
    }
    else
    {
      <div class="header__cart-list--no-title">
        <img src="~/assets/img/no-product-found.png" alt="" class="header__cart-list--no-cart-img" />
      </div>
    }
  }
  else
  {
    <div class="header__cart-list--no-title">
      <img src="~/assets/img/no-product-found.png" alt="" class="header__cart-list--no-cart-img" />
    </div>
  }
</div>
